<div class="col text-center">
    <h1 class="text-center">Vota Aqui</h1>
    <%= render 'vote_form' %>
</div>


<table class="table">
<th scope="col">Partido</th>
<th scope="col">Votos</th>
<th scope="col">Porcentaje</th>
<th scope="col">Tendencia</th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>

<% @votes.each do |party_votes| %>
    <tr>
        <td><%= party_votes[:name] %></td>
        <td><%= party_votes[:votes] %></td>
        <td><%= party_votes[:percentage] %>%</td>
        <td colspan="9">
            <div class="progress">
                <div class="progress-bar progress-bar-<%= party_votes[:color] %>" role="progressbar" style="width: <%= party_votes[:percentage] %>%;" aria-valuenow="<%= party_votes[:percentage] %>" aria-valuemin="0" aria-valuemax="100"><%= party_votes[:percentage] %>%</div>
            </div>
        </td>
    </tr>
<% end %>
</table>